/* Узкая колонка "Открыть" */
#result_list td.field-open_block,
#result_list th.column-open_block {
    width: 60px !important;
    text-align: center;
}
.actions {
    display: flex;
    justify-content: left;
    align-items: center;
}