/* Узкая колонка "Открыть" */
#result_list td.field-open_block,
#result_list th.column-open_block {
    width: 60px !important;
    text-align: center;
}

/* Индикатор состояния WebSocket */
.js-socket-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: gray;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
}
