{% extends 'html/site/data/main.html' %}
{% load static %}

{% block content %}
  {% include 'html/site/data/tabs.html' %}
    <div class="indicator-status">
    <span id="ws-status" class="status red"></span>
    <span id="ws-status-text">Отключено</span>
  </div>
  <h2>Обновления свечей</h2>
  <div id="candles-blocks" class="indicator-grid">
    <div class="interval-block" data-interval="1"></div>
    <div class="interval-block" data-interval="5"></div>
    <div class="interval-block" data-interval="15"></div>
    <div class="interval-block" data-interval="30"></div>
    <div class="interval-block" data-interval="60"></div>
  </div>

  <script src="{% static 'js/chart/indicators/indicator_candles.js' %}"></script>
{% endblock %}
