{% extends 'html/site/base_app.html' %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/site/chart/orderbook.css' %}">
  <link rel="stylesheet" href="{% static 'css/site/chart/chart.css' %}">
  <link rel="stylesheet" href="{% static 'css/site/chart/trade.css' %}">

{% endblock %}


{% block content %}
  {% include 'html/site/chart/blocks/header.html' %}

  <div class="chart-layout">
    <!-- левая часть -->
    <div class="market-tabs">
      {% include 'html/site/chart/blocks/tabs.html' %}
      {% include 'html/site/chart/blocks/tabs/tab_orderbook.html' %}
      {% include 'html/site/chart/blocks/tabs/tab_depth.html' %}
      {% include 'html/site/chart/blocks/tabs/tab_balances.html' %}
    </div>

    <!-- правая часть -->
    <div class="chart-right">
      {% include 'html/site/chart/blocks/chart_controls.html' %}
      {% include 'html/site/chart/blocks/chart_container.html' %}
    </div>
  </div>
      {% include 'html/site/chart/trade/trade.html' %}

  {% include 'html/site/chart/blocks/modal_settings.html' %}
  {% include 'html/site/chart/blocks/scripts.html' %}

    <!-- Подключаем все нужные модули ядра графика -->
<script type="module">
  import { initBaseChart } from '{% static "js/site/chart/core/chart_base.js" %}';
  import { initSocket as initChartWS } from '{% static "js/site/chart/core/chart_ws.js" %}';
  import '{% static "js/site/chart/core/chart_utils.js" %}';
  import '{% static "js/site/chart/trade.js" %}';
</script>

{% endblock %}
