name: Deploy to PRODUCTION Server

on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # ----------------------------------------------
      # Установка SSH ключей
      # ----------------------------------------------
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Adding Known Hosts
        run: ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      # ----------------------------------------------
      # Основной деплой
      # ----------------------------------------------
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |

            echo "===== Проверка папки apps ====="
            if [ ! -d "apps" ]; then
              sudo mkdir apps
            fi

            echo "===== Пересоздание папки проекта ====="
            if [ -d "apps/TRADING_PANEL" ]; then
              sudo rm -rf apps/TRADING_PANEL
            fi
            sudo mkdir apps/TRADING_PANEL
            cd apps/TRADING_PANEL

            echo "===== Клонирование репозитория ====="
            if ! sudo git clone https://username:${{ secrets.ACCESS_TOKEN }}@github.com/pyostr-traiding/PANEL.git .; then
              echo "Ошибка при клонировании репозитория"
              exit 1
            fi

            echo "===== Создание файла .env ====="
            echo "INFISICAL_HOST=${{ secrets.INFISICAL_HOST }}" | sudo tee .env
            echo "INFISICAL_TOKEN=${{ secrets.INFISICAL_TOKEN }}" | sudo tee -a .env
            echo "ENVIRONMENT_SLUG=${{ secrets.ENVIRONMENT_SLUG }}" | sudo tee -a .env

            echo "===== Запуск Docker ====="
            if ! docker compose up --build -d; then
              echo "Ошибка при запуске docker-compose"
              exit 1
            fi

            echo "===== Развёртывание завершено успешно ====="
